:root {
    font-family: 'Gujarati Sangam MN', sans-serif;
    background-color: #F3B203; 
}
body {
    color:black;
}
section {
    background-image: url('../deadend.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
    text-shadow: 1px 1px 0 black;
    color: white;
}
h1 {
    font-size: 7.2rem;
    
}
.maintext
{
    display:flex;
    justify-content: center;
}
.text 
{
    margin: 1rem;
    line-height: 1rem;
}
.link
{
    color: black;
    margin-left: 2rem;
}
.linkdiv 
{
    display: flex;
    justify-content:flex-end;
}